<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quas eum corporis temporibus sapiente iure et repellat, voluptatibus ut sint praesentium distinctio, expedita totam obcaecati, tempore ipsum ipsam dolor consequuntur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quas eum corporis temporibus sapiente iure et repellat, voluptatibus ut sint praesentium distinctio, expedita totam obcaecati, tempore ipsum ipsam dolor consequuntur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quas eum corporis temporibus sapiente iure et repellat, voluptatibus ut sint praesentium distinctio, expedita totam obcaecati, tempore ipsum ipsam dolor consequuntur.</p>

        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>